* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

main {
  padding: 0 1.6rem 3.2rem;
}

.title {
  font-size: 6.4rem;
  color: #48a300;
  text-align: center;
}

.title span {
  color: #61481c;
}

.app-container {
  background-color: #ffff;
  max-width: 660px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 32px 42px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.sun-icon {
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  margin-left: 16px;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.progress-label {
  font-size: 1.4rem;
  color: #858585;
  margin-bottom: 18px;
}

.progress-bar {
  height: 30px;
  background-color: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
}

.progress-value {
  height: 100%;
  width: 0;
  background-color: #48a300;
  border-radius: 15px;
  font-weight: 500;
  font-size: 10px;
  color: #eeffe0;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.progress-value span {
  padding-left: 20px;
  min-width: max-content;
}

.error-label {
  color: #ff5151;
  font-size: 14px;
  margin-block: 2rem;
  visibility: hidden;
}

.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  margin-bottom: 42px;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgba(97, 72, 28, 0.3);
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-input {
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
  background-color: #ffff;
  width: 100%;
  padding-left: 20px;
  align-self: stretch;
  font-weight: 500;
  /* background-color: pink; */
}

.goal-input::placeholder {
  color: #d9d9d9;
}

.quote {
  font-weight: 500;
  text-align: center;
}

.show-error {
  visibility: visible;
}

.made-with {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  color: #858585;
  margin-top: 64px;
}

.completed .custom-checkbox {
  background-color: #48a300;
  border-color: #48a300;
}

.check-icon {
  display: none;
}

.completed .check-icon {
  display: block;
}

.custom-checkbox img {
  width: 11px;
  height: 7px;
  flex-shrink: 0;
}

.completed .goal-input {
  color: #48a300;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .title {
    font-size: 3.2rem;
  }

  .app-container {
    padding: 22px 32px;
  }

  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 12px;
  }

  .custom-checkbox {
    height: 20px;
    width: 20px;
  }

  .made-with {
    margin-top: 32px;
  }

  .progress-bar {
    height: 24px;
  }

  .custom-checkbox img {
    width: 11px;
    height: 7px;
  }
}
